<div class="top-side-bar">
	<h2>Фільтр пошуку</h2>
</div>

<div class="search-box">
	<input
	class="search-txt"
	type="text"
	placeholder="Введіть назву гітари"
	value={{name}}
	onchange={{action (mut name) value="target.value" }}
	>
	<a class="search-btn" href="#"><i class="fas fa-search"></i></a>
</div>

<div class="query-list">
	<div class="query">
		<h3 class="query-name">Ціна</h3>
		Від
		<input
		class="price"
		type="text"
		value={{price}}
		onchange={{action (mut minPrice) value="target.value" }}
		>
		до <input
		class="price"
		type="text"
		value={{price}}
		onchange={{action (mut maxPrice) value="target.value" }}
		>
	</div>

	<div class="query">
		<h3 class="query-name">Виробник</h3>
		<select class="query-value" onchange={{action (mut fabricator) value="target.value" }}>
			<option value="">Оберіть виробника</option>
			<option value="Cort">Cort</option>
			<option value="Fernandes">Fernandes</option>
			<option value="G&L">G&L</option>
			<option value="LTD">LTD</option>
			<option value="Yamaha">Yamaha</option>
		</select>
	</div>

	<div class="query">
	<h3 class="query-name">Розмір</h3>
	<select class="query-value" onchange={{action (mut size) value="target.value" }}>
		<option value="">Оберіть розмір</option>
		<option value="1/4">1/4</option>
		<option value="2/4">2/4</option>
		<option value="3/4">3/4</option>
		<option value="4/4">4/4</option>
	</select>
	</div>

	<div class="query">
	<h3 class="query-name">Верхня дека</h3>
	<select class="query-value" onchange={{action (mut uppderDeck) value="target.value" }}>
		<option value="">Оберіть вид</option>
		
	</select> 
	</div>

	<div class="query">
	<h3 class="query-name">Нижня дека</h3>
	<select class="query-value" onchange={{action (mut loverDeck) value="target.value" }}>
		<option value="">Оберіть вид</option>
		<option value="Агатис">Агатис</option>
		<option value="Вільха">Вільха</option>
		<option value="Лінден">Лінден</option>
		<option value="Тополь">Тополь</option>
		<option value="Нато">Нато</option>
		<option value="Червоне дерево">Червоне дерево</option>
	</select>
	</div>

	<div class="query">
	<h3 class="query-name">Гриф</h3>
	<select class="query-value" onchange={{action (mut vulture) value="target.value" }}>
		<option value="">Оберіть вид</option>
		<option value="Венге">Венге</option>
		<option value="Клен">Клен</option>
		<option value="Палісандр">Палісандр</option>
		<option value="Червоне дерево">Червоне дерево</option>
	</select>
	</div>

	<div class="query">
	<h3 class="query-name">Накладка грифу</h3>
	<select class="query-value" onchange={{action (mut fingerBoard) value="target.value" }}>
		<option value="">Оберіть вид</option>
		<option value="">Грецький горіх</option>
		<option value="">Клен</option>
		<option value="">Палісандр</option>
		<option value="">Червоне дерево</option>
		<option value="">Явор</option>
		<option value="">Оберіть вид</option>
	</select>
	</div>

	<div class="query">
	<h3 class="query-name">Колір</h3>
	<select class="query-value" onchange={{action (mut color) value="target.value" }}>
		<option value="">Оберіть колір</option>
	</select>
	</div>

	<div class="query">
	<h3 class="query-name">Кількість струн</h3>
	<select class="query-value" onchange={{action (mut quantityOfStruns) value="target.value" }}>
		<option value="">Оберіть кількість</option>
		<option value="5">4</option>
		<option value="4">5</option>
	</select>
	</div>

	<div class="query">
	<h3 class="query-name">Матеріал корпусу</h3>
	<select class="query-value" onchange={{action (mut bodyMaterial) value="target.value" }}>
		<option value="">Оберіть вид</option>
		<option value="Агатис">Агатис</option>
		<option value="Вільха">Вільха</option>
		<option value="Лінден">Лінден</option>
		<option value="Тополь">Тополь</option>
		<option value="Нато">Нато</option>
		<option value="Червоне дерево">Червоне дерево</option>
	</select>
	</div>

	<div class="query">
	<h3 class="query-name">Конструкція грифу</h3>
	<select class="query-value" onchange={{action (mut neckDesign) value="target.value" }}>
		<option value="">Оберіть вид</option>
		<option value="Вклеєний">Вклеєний</option>
		<option value="На болтах">На болтах</option>
		<option value="Наскрізний">Наскрізний</option>
		
	</select>
	</div>

	<div class="query">
	<h3 class="query-name">Кількість ладів</h3>
	<select class="query-value" onchange={{action (mut numberOfFrets) value="target.value" }}>
		<option value="">Оберіть кількість</option>
		<option value="20">20</option>
		<option value="21">21</option>
		<option value="22">22</option>
		<option value="24">24</option>
		<option value="26">26</option>
	</select>
	</div>

	<div class="query">
	<h3 class="query-name">Мензура</h3>
	<select class="query-value" onchange={{action (mut menzura) value="target.value" }}>
		<option value="">Оберіть довжину</option>
		<option value="25">25</option>
		<option value="30">30</option>
		<option value="32">32</option>
		<option value="34">34</option>
		<option value="35">35</option>
	</select>
	</div>

	<div class="query">
	<h3 class="query-name">Електроніка</h3>
	<select class="query-value" onchange={{action (mut electronics) value="target.value" }}>
		<option value="">Оберіть вид</option>
		<option value="Активна">Активна</option>
		<option value="Пасивна">Пасивна</option>
	</select>
	</div>
</div>