<div class="order-box">
	<div class="order-product">
		<div class="order-img">
			<img src={{product.picture}}>
		</div>

		<div class="order-name">
			<h3>{{product.name}}</h3>
		</div>

		<div class="order-btn">
			<h3>{{product.price}} грн.</h3>
		</div>
	</div>

	<div class="order-information">
		<div class="order-information-section">
			<h3>Дата замовлення:</h3><h4>{{dateOrder}}</h4>
		</div>

		<div class="order-information-section">
			<h3>ФІО:</h3><h4>{{FIO}}</h4>
		</div>

		<div class="order-information-section">
			<h3>Електронна пошта:</h3><h4>{{emailAdress}}</h4>
		</div>

		<div class="order-information-section">
			<h3>Номер телефона:</h3><h4>{{mobileNumber}}</h4>
		</div>

		<div class="order-information-section">
			<h3>Місто:</h3><h4>{{city}}</h4>
		</div>

		<div class="order-information-section">
			<h3>Номер поштового відділення:</h3><h4>{{postOfficeNumber}}</h4>
		</div>
	</div>
</div>
